<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XMLDocument.xml to edit this template
-->

<web-app>
    <servlet>
        <servlet-name>MostrarProductosServlet</servlet-name>
        <servlet-class>com.store.servlets.MostrarProductosServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MostrarProductosServlet</servlet-name>
        <url-pattern>/MostrarProductosServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>MostrarProductosServlet</welcome-file>
    </welcome-file-list>
</web-app>
